{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Справка</h1>
<p>
  Страница содержит информацию о том, как работает данный сервис.
</p>
<h2>Прежде чем приступить к работе, необходимо ознакомитсья с главным меню сайта.</h2>
{% load static %}
<img src="{% static 'img/img1.png' %}" class="image">
<h2>Далее представлена процедурная информация о взаимодействии с интерфейсом создания постов.</h2>
<img src="{% static 'img/img2.png' %}" class="image">
{% endblock %} 